@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  .text {
    position: absolute;
    z-index: 1;
    max-width: 550px;
    color: var(--white);
    font-size: 34px;
    line-height: 1.62;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    background-position: bottom left;
    background-image: url('/assets/images/scene9/1.png');
    animation-name: toggleBg;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }

  img {
    position: absolute;
    bottom: 362px;
    left: 242px;
    animation-name: toggleHead;
    animation-iteration-count: infinite;
    animation-duration: 3s;
  }
}

@keyframes toggleBg {
  0% {
    background-image: url('/assets/images/scene9/1.png');
  }
  50% {
    background-image: url('/assets/images/scene9/2.png');
  }
  100% {
    background-image: url('/assets/images/scene9/1.png');
  }
}
@keyframes toggleHead {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(6deg) translateX(15px);
  }
  100% {
    transform: none;
  }
}
