@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;
  display: flex;

  .backdrop1,
  .backdrop2,
  .backgroundContainer {
    position: relative;
    width: calc(100% / 3);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s;
    z-index: 2;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .backdrop1 {
    transform: translateY(100vh);
    background-image: url('/assets/images/scene3/1.jpg');
    &:hover {
      background-image: url('/assets/images/scene3/1-2.jpg');
    }
  }
  .backdrop2 {
    transform: translateY(-100vh);
    background-image: url('/assets/images/scene3/2.jpg');

    img {
      position: absolute;
      bottom: 46.5%;
      left: 50.2%;
      transform-origin: bottom;
      transform: translate(-50%);
      transition: 0.5s;
    }
    &:hover {
      img {
        transform: translate(-50%) rotate(5deg);
      }
    }
  }
  .backgroundContainer {
    transform: translateY(40vh);

    .backdrop3 {
      width: 100%;
      height: 100%;
      background-image: url('/assets/images/scene3/3.jpg');
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
      transition: 0.5s;

      @media (min-width: 1880px) {
        background-size: cover;
      }

      .glare {
        position: absolute;
        background-image: url('/assets/images/scene3/3-2.png');
        width: 100%;
        height: 500px;
        bottom: 25%;
        right: -20%;
        transition: 0.5s;
        opacity: 0.4;
      }

      &:hover {
        transform: scale(1.15);

        .glare {
          bottom: 2%;
          right: 0;
        }
      }
    }
  }
}

.stepTwo {
  opacity: 0.2;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
