@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 1s;
  }

  .text1,
  .text2 {
    position: relative;
    color: var(--white);
    font-size: 34px;
    line-height: 1.62;
    opacity: 0;
  }

  .text1 {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 410px;
  }

  .text2 {
    left: 45%;
    max-width: 610px;
  }

  .backdrop1 {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene1/1.png');
  }
  .backdrop2 {
    position: absolute;
    left: 20%;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene1/2.png');
  }
  .character {
    position: absolute;
    left: 15%;
    top: 4%;
    height: 100%;

    img {
      height: 100%;
    }
  }
  .people {
    position: absolute;
    right: -34%;
    top: 40px;
    height: 100%;

    img {
      height: 100%;
    }
  }
}

.stepTwo {
  .text1 {
    opacity: 1;
  }

  .backdrop2 {
    left: 11%;
  }

  .character {
    position: absolute;
    left: 7%;
    top: 0;
  }

  .people {
    right: -5%;
  }
}

.stepThree {
  .text2 {
    opacity: 1;
  }

  .backdrop2 {
    left: 11%;
  }

  .character {
    position: absolute;
    left: 7%;
    top: 0;
  }

  .people {
    right: -36%;
  }
}
