@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  > * {
    transition: 1s;
  }

  .backdrop1,
  .backdrop2,
  .backdrop3,
  .backdrop4 {
    position: absolute;
    @include fullSize;
    @include bgCover;
  }
  .backdrop1 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    z-index: 0;
  }
  .backdrop3 {
    opacity: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
  .backdrop4 {
    opacity: 0;
    transform: translate(38%, -50%);
    background: center no-repeat url('/assets/images/scene4/2.png');
    background-position: bottom right;

    img {
      position: absolute;
      bottom: 477px;
      right: 180px;
      transform-origin: left;
      animation-name: wave;
      animation-iteration-count: infinite;
      animation-duration: 2s;
    }
  }
}

.stepTwo {
  .backdrop3 {
    opacity: 1;
  }
  .backdrop4 {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.stepThree {
  opacity: 0.2;
}

@keyframes fadeIn {
  0% {
    transform: translate(-150vh, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes wave {
  0% {
    transform: translate(-8px, 2px) rotate(-3deg);
  }
  50% {
    transform: translate(15px, -2px) rotate(8deg);
  }
  100% {
    transform: translate(-8px, 2px) rotate(-3deg);
  }
}
