@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 2s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene7/1.jpg');
    background-position: right;
  }

  .characterLeft,
  .characterRight {
    position: absolute;

    img {
      height: 100%;
    }
  }

  .characterLeft {
    bottom: 0;
    left: -23%;
    height: 80%;
  }

  .characterRight {
    bottom: 0;
    right: 0;
    height: 83%;
  }
}

.stepTwo {
  .backdrop {
    background-position: 10%;
  }

  .characterLeft {
    left: 0;
  }

  .characterRight {
    right: -17%;
  }
}

.stepThree {
  .backdrop {
    opacity: 0.2;
  }

  .characterLeft {
    height: 200%;
    opacity: 0;
  }

  .characterRight {
    height: 200%;
    opacity: 0;
  }
}
