@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 2s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene7/1.png');
    background-position: right;
  }

  .character {
    position: absolute;
    bottom: 0;
    left: -22%;
    height: 80%;

    img {
      height: 100%;
    }
  }
}

.stepTwo {
  .backdrop {
    background-position: left;
  }

  .character {
    left: 0;
  }
}
