@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 0.2s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene7/1.jpg');
  }

  .characterLeft,
  .characterRight {
    position: absolute;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  .characterLeft {
    height: 80%;
  }

  .characterRight {
    height: 83%;
  }
}
