@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 1s;
  }

  .backdrop1,
  .backdrop2,
  .backdrop3 {
    position: absolute;
    @include fullSize;
    @include bgCover;
  }

  .backdrop1 {
    background-image: url('/assets/images/scene5/1.png');
    background-position: bottom;
  }

  .backdrop2 {
    background-image: url('/assets/images/scene5/2-1.png');
    background-position: bottom;
    opacity: 0;
  }

  .backdrop3 {
    background-image: url('/assets/images/scene5/2-2.png');
  }

  .characterRight {
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 100%;
    opacity: 0;

    img {
      height: 100%;
    }
  }

  .characterLeft {
    position: absolute;
    left: 16%;
    bottom: 10%;

    .hand {
      position: absolute;
      top: 3.5%;
      right: -96%;
      animation-name: toggleHand;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      transform-origin: bottom left;
    }
  }
}

.stepTwo,
.stepThree,
.stepFour {
  .characterLeft {
    left: 24%;
  }
  .backdrop2 {
    opacity: 1;
    transition-delay: 1s !important;
  }
}

.stepThree,
.stepFour {
  .characterRight {
    opacity: 1;
    right: 14%;
  }
}

.stepFour {
  opacity: 0;
}

@keyframes toggleHand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg) translateX(-5px);
  }
  100% {
    transform: rotate(0deg);
  }
}
