@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 1s;
  }

  .backdrop1,
  .backdrop2,
  .backdrop3 {
    position: absolute;
    @include fullSize;
    @include bgCover;
  }

  .backdrop1 {
    background-image: url('/assets/images/scene5/1.png');
    background-position: bottom;
  }

  .backdrop2 {
    background-image: url('/assets/images/scene5/2-1.png');
    background-position: bottom;
    opacity: 0;
  }

  .backdrop3 {
    background-image: url('/assets/images/scene5/2-2.png');
    background-position: right;
  }

  .characterRight {
    position: absolute;
    right: -50%;
    bottom: 0;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .characterLeft {
    position: absolute;
    left: 16%;
    bottom: 10%;

    .hand {
      position: absolute;
      top: 3.5%;
      right: -96%;
      transform-origin: bottom left;
      transition: 1s;
      transition-delay: 1s;
    }
  }

  .text {
    right: 19% !important;
  }

  .car {
    position: absolute;
    left: -250vh;
    bottom: -25%;
    transition: 3s;
    z-index: 100;
    transition-delay: 1s;
  }
}

.stepTwo,
.stepThree {
  .characterLeft {
    left: 24%;

    .hand {
      transform: rotate(10deg) translateX(0px);
    }
  }

  .backdrop2 {
    opacity: 1;
    transition: 2s;
    transition-delay: 1s !important;
  }
  .text {
    right: 10% !important;
  }
  .car {
    left: 250vh;
  }
}

.stepThree {
  .characterLeft {
    > img {
      animation-name: toggleCharLeft;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-delay: 1s;
      transform-origin: bottom;
    }

    .hand {
      animation-name: toggleHand;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-delay: 1s;
    }
  }
  .characterRight {
    right: 14%;
    animation-name: toggleCharRight;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
  }
}

@keyframes toggleCharLeft {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes toggleCharRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toggleHand {
  0% {
    transform: rotate(10deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(0deg) translate(7px, 2px);
  }
  100% {
    transform: rotate(10deg) translate(2px, 2px);
  }
}
