@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  &,
  * {
    transition: 0.2s;
  }

  .backdrop1,
  .backdrop2,
  .backdrop3,
  .backdrop4 {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-position: bottom;
  }

  .backdrop3 {
    background-position: right;
  }

  .characterRight {
    position: absolute;
    bottom: 0;
    height: 100%;

    img {
      height: 100%;
    }
  }

  .characterLeft {
    position: absolute;
    left: 16%;
    bottom: 10%;

    .hand {
      position: absolute;
      top: 3.5%;
      right: -96%;
      transform-origin: bottom left;
      transition: 1s;
    }
  }

  .car {
    position: absolute;
    bottom: -25%;
    z-index: 100;
  }
}

.stepThree,
.stepFour,
.stepFive {
  .characterLeft {
    .hand {
      transform: rotate(10deg) translateX(0px);
      animation-name: toggleHand;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-delay: 1s;
    }
  }
}

.stepFour,
.stepFive {
  .characterLeft {
    > img {
      animation-name: toggleCharLeft;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-delay: 0s;
      transform-origin: bottom;
    }
  }
  .characterRight {
    animation-name: toggleCharRight;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 1s;
  }
}

@keyframes toggleCharLeft {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes toggleCharRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toggleHand {
  0% {
    transform: rotate(0deg) translateX(3px);
  }
  50% {
    transform: rotate(7deg) translateX(0px);
  }
  100% {
    transform: rotate(0deg) translateX(3px);
  }
}
