@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  &,
  * {
    transition: 0.2s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-position: bottom;
  }

  .character {
    position: absolute;
    right: 3%;
    bottom: 12%;

    img {
      height: 100%;
    }
  }
}
