@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  .text {
    position: absolute;
    z-index: 1;
    max-width: 700px;
    color: var(--white);
    font-size: 34px;
    line-height: 1.62;
    transition: 2s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene6/1.png');
    background-position: bottom;
  }

  .character {
    position: absolute;
    right: 3%;
    bottom: 12%;
    transition: 2s;

    img {
      height: 100%;
    }
  }
}

.stepTwo {
  .character {
    transform: translate(-70%, 18%) scale(0.55);
  }
}
