@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: 2s;
  }

  .text1,
  .text2 {
    transition-delay: 0.5s !important;
  }

  .text2 {
    opacity: 0;
    transform: translateX(100px);
  }

  .backdrop1,
  .backdrop2,
  .backdrop3 {
    position: absolute;
    @include fullSize;
    @include bgCover;
  }
  .backdrop3 {
    opacity: 0;
  }
  .peopleLeft,
  .peopleRight {
    position: absolute;
    bottom: -8%;
    height: 200%;
    opacity: 0;

    img {
      height: 100%;
    }
  }
  .peopleLeft {
    left: -80%;
  }
  .peopleRight {
    right: -80%;
  }
}

.stepTwo {
  .text1 {
    opacity: 0;
    transform: translateX(100px);
  }
  .text2 {
    opacity: 1;
    transform: translateX(0);
  }
  .backdrop3 {
    opacity: 1;
  }
  .peopleLeft,
  .peopleRight {
    height: 100%;
    opacity: 1;
  }
  .peopleLeft {
    left: -3%;
  }
  .peopleRight {
    right: -3%;
  }
}
