@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  &,
  > * {
    transition: 0.2s;
  }

  .backdrop1,
  .backdrop2,
  .backdrop3 {
    position: absolute;
    @include fullSize;
    @include bgCover;
  }
  .backdrop1 {
    .head {
      position: absolute;
      height: 27%;
      top: 38%;
      left: 50.5%;
      transform: translate(-50%, -50%);
      transform-origin: left bottom;
      animation-name: toggleHead;
      animation-iteration-count: infinite;
      animation-duration: 3s;
    }
  }
  .peopleLeft,
  .peopleRight {
    position: absolute;
    bottom: -8%;

    img {
      height: 100%;
    }
  }
}

@keyframes toggleHead {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-53%, -51%) rotate(4deg);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
