@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  &,
  > * {
    transition: 0.2s;
  }

  .backdrop1,
  .backdrop2,
  .backdrop3 {
    position: absolute;
    @include fullSize;
    @include bgCover;
  }
  .backdrop3 {
    opacity: 0;
  }
  .peopleLeft,
  .peopleRight {
    position: absolute;
    bottom: -8%;
    height: 200%;
    opacity: 0;

    img {
      height: 100%;
    }
  }
  .peopleLeft {
    left: -80%;
  }
  .peopleRight {
    right: -80%;
  }
}

// .stepTwo {
//   .backdrop3 {
//     opacity: 1;
//   }
//   .peopleLeft,
//   .peopleRight {
//     height: 100%;
//     opacity: 1;
//   }
//   .peopleLeft {
//     left: -3%;
//   }
//   .peopleRight {
//     right: -3%;
//   }
// }
