@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  &,
  > * {
    transition: all 0.2s, background-image 1s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    background-repeat: no-repeat;
    background-image: url('/assets/images/scene8/1.jpg');
  }
}

.stepTwo {
  .backdrop {
    background-image: url('/assets/images/scene8/1-2.jpg');
  }
}
