@import 'styles/mixins';

.section {
  position: relative;
  @include fullSize;
  overflow: hidden;

  > * {
    transition: all 2s;
  }

  .backdrop {
    position: absolute;
    @include fullSize;
    @include bgCover;
    background-image: url('/assets/images/scene8/1.jpg');
    background-position: bottom right;
  }
}

.stepTwo,
.stepThree,
.stepFour {
  .backdrop {
    background-image: url('/assets/images/scene8/1-2.jpg');
  }
}

.stepTwo {
  .backdrop {
    background-size: 140%;
    background-position: bottom right;
  }
}

.stepThree {
  .backdrop {
    background-size: 140%;
    background-position: bottom left;
  }
}

.stepFour {
  .backdrop {
    background-size: cover;
    background-position: center;
  }
}
