@font-face {
  font-family: 'MarkerFelt';
  src: url('/assets/fonts/MarkerFelt/MarkerFelt.eot');
  src: url('/assets/fonts/MarkerFelt/MarkerFelt.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/MarkerFelt/MarkerFelt.svg#Marker Felt') format('svg'),
    url('/assets/fonts/MarkerFelt/MarkerFelt.ttf') format('truetype'),
    url('/assets/fonts/MarkerFelt/MarkerFelt.woff') format('woff'),
    url('/assets/fonts/MarkerFelt/MarkerFelt.woff2') format('woff2');
}

@font-face {
  font-family: 'PhillySans';
  src: url('/assets/fonts/PhillySans/PhillySans.eot');
  src: url('/assets/fonts/PhillySans/PhillySans.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/PhillySans/PhillySans.svg#Marker Felt') format('svg'),
    url('/assets/fonts/PhillySans/PhillySans.ttf') format('truetype'),
    url('/assets/fonts/PhillySans/PhillySans.woff') format('woff'),
    url('/assets/fonts/PhillySans/PhillySans.woff2') format('woff2');
}

@font-face {
  font-family: 'BirdyGame';
  src: url('/assets/fonts/BirdyGame/BirdyGame.eot');
  src: url('/assets/fonts/BirdyGame/BirdyGame.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/BirdyGame/BirdyGame.svg#BirdyGame') format('svg'),
    url('/assets/fonts/BirdyGame/BirdyGame.ttf') format('truetype'),
    url('/assets/fonts/BirdyGame/BirdyGame.woff') format('woff'),
    url('/assets/fonts/BirdyGame/BirdyGame.woff2') format('woff2');
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Thin.eot');
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Thin.svg#HelveticaNeue-Thin')
      format('svg'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Thin.ttf') format('truetype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Thin.woff') format('woff'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Light.eot');
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Light.svg#HelveticaNeue-Light')
      format('svg'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Light.ttf')
      format('truetype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Light.woff') format('woff'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue.eot');
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue')
      format('svg'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.eot');
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.svg#HelveticaNeue-Medium')
      format('svg'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.ttf')
      format('truetype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.eot');
  src: url('/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.svg#HelveticaNeue-Bold')
      format('svg'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
    url('/assets/fonts/HelveticaNeue/HelveticaNeue-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
