.container {
  min-height: 100vh;
  background: center no-repeat url('/assets/images/scene-1.png');
  width: 100%;
}

.screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 748px;
  height: 340px;

  .cont {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;

    img {
      width: 748px;
    }

    &:first-of-type {
      z-index: 1;
    }
  }
}
