@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin fullSize {
  height: 100%;
  width: 100%;
}

@mixin bgCover {
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin bgContain {
  background-size: contain;
  background-repeat: no-repeat;
}
